// Map para fuentes
$sizes:(
    jumbo: 5rem,
    display: 3rem,
    title: 2rem,
    text: 1.5rem,
    caption: 1rem
);

$fonts:(
    title: "'Arial', sans-serif" ,
    text: "'Open Sans Condensed', cursive"
);