/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Redressed&family=Shizuru&display=swap");

/* Normalize */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

/* estilos en etiquetas */
body {
    filter: opacity(92%);
    background-image: url("../images/fondo.jpg");;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgb(82, 79, 234);
    margin: auto;
    padding: auto;
    text-shadow: 5px 5px blue;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px blue;
}
h3 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px blue;
}

p, form {
    font-family: Open Sans Condensed, cursive;
    font-size: 18px;
}

main {
    color: white;
    background-color: rgb(39, 39, 39);
}

footer {
    background-color: black;
    text-align: center;
    color: rgb(82, 79, 234);
}

/* estilos en clases */
.logo {
    display: inline;
    width: 200px;
    height: 150px;
    padding: 1px;
    border: 10px solid rgb(82, 79, 234);
}

.header {
    background: linear-gradient(90deg, #524FEA, black)
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .navbutton {
    display: grid;
    text-decoration: none;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 10px solid rgb(82, 79, 234);
    margin: auto;
    text-align: center;
    color: rgb(82, 79, 234);
    text-shadow: 5px 5px blue;
    font-size: 23px;
    font-family: Redressed, cursive;
} */

.navbutton {
    border: 10px solid rgb(82, 79, 234);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.grid-item {
    grid-column: 2;
}

.ffimg {
    width: 250px;
    height: 150px;
    border: 5px solid rgb(82, 79, 234);
}

.button {
    display: grid;
    justify-content: center;
    color: white;
    background-color: rgb(82, 79, 234);
    border: 3px solid blue;
}

.button:hover {
    background-color: blue
}

.ff1 {
    display: flex;
    justify-content: start;
    text-align: right;
}

.ff2 {
    display: flex;
    justify-content: end;
    text-align: left;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1024px) {
   
    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1000px) {
    /* .navbutton {
        width: 50%;
        height: 50%;
        font-size: 90%;
    }  */

    .ff1 {
        align-items: center;
        text-align: end;
    }
    .ff2 {
        align-items: center;
    }

    ul {
        list-style-type: none;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    /* .navbutton {
        width: 30%;
        height: 30%;
        font-size: 75%;
    } */
    .ff1 {
        align-items: center;
        text-align: justify;
    }
    .ff2 {
        align-items: center;
    }
}


